* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Montserrat';
background: #060E20; 
color: #F6F6F6;
position: relative;
margin: 0;
}

.navigation{
/*padding: 30px;
position: absolute;
top: 0;
width: 100%;
z-index: 1;}

.video-container{
z-index: -100;
/* width: 100vh;
/* height: 100vh; */
overflow: hidden;
position: absolute;
top: 0;
/* opacity: 0.3; */

}

.hero-content{
object-fit: cover;
width: 100%;
height: 100vh;
padding: 200px;
}

.bg-video{
position:fixed;
padding:0;
margin:0;
top:0;
left:0;
width: 120%;
height: 120%;
}

.text-center{
    text-align: center!important;
}

.mx-auto {
    margin-right: auto!important;
    margin-left: auto!important;
}

.lead{
font-family: 'Montserrat';
font-weight: 500;
font-size: 15px;
color: #f6f6f6;
}

